// Loop Headers
$header-list: h1, h2, h3, h4, h5;
$font-size: 1px;

@for $i from 1 through length($header-list) {
  $header: nth($header-list, $i);
  #{$header} {
    font-size: $i * $font-size;
  }
}
